/*DEVELOPER: TRANG DANG, IS117-002, Spring 2021 */
/* contact */
#contact{
    background-color: #b0a1e7;
    padding: 20px 50px;
}

.contact_form {
    margin: 0 auto;
    width: 460px;
}

.button{
    text-align: center;
    padding-top: 20px;
}

#contact h2{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .name, .form-control, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
