/*DEVELOPER: TRANG DANG, IS117-002, Spring 2021 */
/* pojects */
#kh_1{
    padding: 30px 50px 0 50px;
}


.knowledge_hub {
    text-align: center;
}

.knowledge_hub ul {
    display: inline-block;
    text-align: left; }

#kh_1 img{
    float: left;
    padding-right: 40px;
    padding-bottom: 50px;
    width: 25%;
}
#kh_2 img{
    float: right;
    width: 25%;
    padding-left: 40px;
}
#kh_2{
    padding: 40px 50px;
    background-color: #b0a1e7;
}
.about_me h3{
    font-size: 105%;
    padding-bottom: .25em;
}

@media only screen and (max-width: 600px) {
    .name, .form-control, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}